# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/

# Archivos de configuración local
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
log/
logs/

# Archivos temporales
*.tmp
*.swp
*.bak
*~

# Docker
.docker/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de caché
.cache/